extends layout

block content
  html.
  <div class="no-boot">
  <div id="successNotification" style="display: none">
  Card Charged Succesfully!!
  </div>

  <form id="payment-form" action="#" onsubmit="return paymentFormSubmit()">

  <h2>Jibo Donate</h2>

  img(src="http://maistry.net/wp-content/uploads/2016/02/Donations.jpg" style="max-width:100%")

  <h3> Particulars </h3>
  
  <label>Name</label>
  <input type="text" id="name" name="name" style="box-sizing: border-box;" placeholder="Name"/>

  <label>Email</label>
  <input type="email" id="email" name="email" style="box-sizing: border-box;" placeholder="Email"/>

  <div id="card-errors">

  </div>

  <h3> Donation </h3>

  <div>
  <label>Card Number</label>
  <div  id="sq-card-number"></div>
  </div>

  <div>
  <label>CVV</label>
  <div  id="sq-cvv"></div>
  </div>

  <div>
  <label>Expiration Date</label>
  <div  id="sq-expiration-date"></div>
  </div>

  <div>
  <label>Postal Code</label>
  <div  id="sq-postal-code"></div>
  </div>

  <div>
  <label> Donation Amount</label>
  <select id="product_id" name="product_id">
  <option value="001"> $1 </option>
  <option value="002"> $5 </option>
  <option value="003"> $10 </option>
  <option value="004"> $50 </option>
  <option value="005"> $100 </option>
  </select>
  </div>


  <br/>
  <div>
  <input type="submit" id="submit" value="Donate" class="btn btn-primary">
  </div>

  </form>
  </div>

  script(type='text/javascript').
    var cardNonce;
    var paymentForm = new SqPaymentForm({
      applicationId: '#{square_application_id}',
      inputClass: 'sq-input',
      inputStyles: [
          {
            fontSize: '14px',
            padding: '7px 12px',
            backgroundColor: "transparent"
          }
        ],
      cardNumber: {
        elementId: 'sq-card-number',
        placeholder: '0000 0000 0000 0000'    
      },
      cvv: {
        elementId: 'sq-cvv',
        placeholder: 'CVV'
      },
      expirationDate: {
        elementId: 'sq-expiration-date',
        placeholder: 'MM/YY'
      },
      postalCode: {
        elementId: 'sq-postal-code',
        placeholder: '94110'
      },
      callbacks: {
        cardNonceResponseReceived: function(errors, nonce, cardData) {
          if (errors){
            var error_html = ""
            for (var i =0; i < errors.length; i++){
              error_html += "<li> " + errors[i].message + " </li>";
            }
            document.getElementById("card-errors").innerHTML = error_html;
            document.getElementById('submit').disabled = false;
          }else{
            document.getElementById("card-errors").innerHTML = "";
            chargeCardWithNonce(nonce);
          }
          
          
        },
        unsupportedBrowserDetected: function() {
          // Alert the buyer
        }
      }
    });

    // build payment form after DOM load
    document.addEventListener('page:change', function(){
      console.log('dom loaded')
      paymentForm.build()
    });

    var paymentFormSubmit = function(){
      console.log('submit clicked');
      document.getElementById('submit').disabled = true;
      paymentForm.requestCardNonce();
      return false;
    }

    var chargeCardWithNonce = function(nonce) {
      var product_id = document.getElementById('product_id').value;
      var name = document.getElementById('name').value;
      var email = document.getElementById('email').value;
      var street_address_1 = "123"
      var street_address_2 = "123"
      var city = "Mountain View"
      var state = "CA"
      var zip = "94110"
      
      var http = new XMLHttpRequest();
      var url = "/charges/charge_card";
      var params = "product_id=" + product_id 
      +"&name=" + name 
      +"&email=" + email 
      + "&nonce=" + nonce
      + "&street_address_1=" + street_address_1
      + "&street_address_2=" + street_address_2
      + "&city=" + city
      + "&state=" + state
      + "&zip=" + zip;

      http.open("POST", url, true);

      //Send the proper header information along with the request
      http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      http.setRequestHeader("X-CSRF-Token", "<%= form_authenticity_token %>");

      http.onreadystatechange = function() {//Call a function when the state changes.
          if(http.readyState == 4 && http.status == 200) {
            var data = JSON.parse(http.responseText)
            if (data.status == 200) {
              document.getElementById("successNotification").style.display = "block";
              document.getElementById("payment-form").style.display = "none";
              window.scrollTo(0, 0);
            }else if (data.status == 400){
              var error_html = ""
              for (var i =0; i < data.errors.length; i++){
                error_html += "<li> " + data.errors[i].detail + " </li>";
              }
              document.getElementById("card-errors").innerHTML = error_html;
              document.getElementById('submit').disabled = false;
            }
          }
      }
      http.send(params);
    }
